@import "tailwindcss";
 
:root {
  --font-poppins: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {
  font-family: var(--font-poppins);
}

.hero-container { 
  background-image: url('/hero.png');
   max-width: 1440px;
   background-size: cover;
   background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; 
}

 